
		{{define "title"}}Domain - Statusnook Setup{{end}}
		{{define "body"}}
			<div class="auth-dialog-container">
				{{if eq .SSL "true"}}
					<div class="auth-dialog">
						<div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
								</svg>		
							</div>
							<h1>Domain configuration</h1>
						</div>

						<div class="setup-domain-description">
							<p>Enter a domain that has an A record which is set to this machine's IP address</p>
							<p>A certificate will be obtained via Let's Encrypt and automatically configured</p>
						</div>

						<form onsubmit="onDomainSubmit(this);" class="setup-domain" hx-post hx-swap="none">
							<div class="domain-alerts">
								<div id="alert"  class="alert domain-alert"></div>
								<div class="alert alert--info domain-alert"></div>
							</div>
							<label>
								Domain
								<input
									oninput="onDomainChange(this);"
									name="domain"
									placeholder="status.example.com"
									{{if .PrefillURLText}}value="{{.PrefillURLText}}"{{end}}
									required
								>
							</label>

							<button>Confirm</button>
							<a class="auth-dialog-continue" href="/setup/account" hx-boost="true">Continue</a>
							<span class="loader"></span>
						</form>

						<div id="skip-domain-setup" class="skip-domain-setup" hx-swap-oob="true">
					</div>
				{{else}}
					<div class="auth-dialog">
						<div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
									<path fill-rule="evenodd" d="M4.5 2A2.5 2.5 0 0 0 2 4.5v2.879a2.5 2.5 0 0 0 .732 1.767l4.5 4.5a2.5 2.5 0 0 0 3.536 0l2.878-2.878a2.5 2.5 0 0 0 0-3.536l-4.5-4.5A2.5 2.5 0 0 0 7.38 2H4.5ZM5 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
								</svg>
							</div>
							<h1>Domain configuration</h1>
						</div>

						<div style="margin-bottom: 6.0rem;">
							<p>
								Enter the domain that users will use to visit your Statusnook
							</p>
							<p>
								This domain appears in places such as email links
							</p>
						</div>

						<form class="setup-domain" hx-post hx-swap="none">
							<div id="alert" class="alert"></div>
							<label>
								Domain
								<input
									name="domain"
									placeholder="status.example.com"
									{{if .PrefillURLText}}value="{{.PrefillURLText}}"{{end}}
									required
								>
							</label>

							<button>Confirm</button>
							<span class="loader"></span>
						</form>
					</div>
				{{end}}
			</div>

			<script>
				function onDomainSubmit(el) {
					const skipDomainSetupEl = document.querySelector(".skip-domain-setup");
					if (skipDomainSetupEl) {
						skipDomainSetupEl.innerHTML = "";
					}
					el.elements.domain.readOnly = true;
				}

				function onDomainChange() {
					const skipDomainSetupEl = document.querySelector(".skip-domain-setup");
					if (skipDomainSetupEl) {
						skipDomainSetupEl.innerHTML = "";
					}
				}

				async function browserReachabilityTest() {
					const alert = document.querySelector("#alert");
					const alert2 = document.querySelector(".alert:nth-of-type(2)");
					const form = document.querySelector("form");

					alert.innerHTML = "";
					alert2.innerHTML = "";

					form.classList.add("htmx-request");

					
					const successMsg = "<span>We've successfully obtained and configured your certificate!</span>";
					const infoMsg = "<span>However, we've detected your browser can't resolve the domain just yet.</span>" +
						"<span>You may continue to use Statusnook via the instances IP address, we'll redirect you to the domain once we detect your browser can successfully resolve it.</span>";

					try {
						if (form.elements.domain.value.startsWith("https://")) {
							form.elements.domain.value = form.elements.domain.value.replace(
								"https://", 
								"",
							);
						}

						if (form.elements.domain.value.startsWith("http://")) {
							form.elements.domain.value = form.elements.domain.value.replace(
								"http://", 
								"",
							);
						}

						const testResponse = await fetch(
							"https://" + form.elements.domain.value + "/setup/statusnook",
							{method: "POST", mode: "cors"}
						);

						if (!testResponse.ok) {
							alert.classList.add("alert--success");
							alert.innerHTML = successMsg;
							alert2.innerHTML = infoMsg;
							[...form.querySelectorAll("label, button")].forEach((v) => {
								v.style.display = "none";
							});
							form.querySelector(".auth-dialog-continue").style.display = "block";
							return;
						}

						if (!testResponse.headers.get("X-Statusnook-Setup")) {
							alert.classList.add("alert--success");
							alert.innerHTML = successMsg;
							alert2.innerHTML = infoMsg;
							[...form.querySelectorAll("label, button")].forEach((v) => {
								v.style.display = "none";
							});
							form.querySelector(".auth-dialog-continue").style.display = "block";
							return;
						}

						return true;
					} catch(e) {
						if (Object.keys(e).length === 0) {
							alert.classList.add("alert--success");
							alert.innerHTML = successMsg;
							alert2.innerHTML = infoMsg;
							[...form.querySelectorAll("label, button")].forEach((v) => {
								v.style.display = "none";
							});
							form.querySelector(".auth-dialog-continue").style.display = "block";
						}
						return;
					} finally {
						form.classList.remove("htmx-request");
					}
				}

				document.addEventListener('htmx:afterRequest', async function(evt) {
					const form = document.querySelector("form");
					const dev = {{.DEV}};

					form.elements.domain.readOnly = false;
					
					if (evt.detail.pathInfo.responsePath === "/setup/domain" && evt.detail.successful) {
						if (dev || await browserReachabilityTest()) {
							window.location.href = window.location.protocol + "//" + 
								form.elements.domain.value + "/setup/account";
						}
					}
				});
			</script>
		{{end}}
	