
		{{define "title"}}Name your nook - Statusnook Setup{{end}}
		{{define "body"}}
			<div class="auth-dialog-container">
				<div class="auth-dialog">
					<div>
						<div>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M4.5 2A2.5 2.5 0 0 0 2 4.5v3.879a2.5 2.5 0 0 0 .732 1.767l7.5 7.5a2.5 2.5 0 0 0 3.536 0l3.878-3.878a2.5 2.5 0 0 0 0-3.536l-7.5-7.5A2.5 2.5 0 0 0 8.38 2H4.5ZM5 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
							</svg>
						</div>
						<h1>Name your nook</h1>
					</div>
					<div style="margin-bottom: 6.0rem;">
						<p style="text-align: center;">This name will be displayed on your status page</p>
					</div>
					<form hx-post hx-swap="none">
						<div id="alert" class="alert" hx-swap-oob></div>
						<label>
							Name
							<input name="name" type="text" placeholder="Statusnook" required>
						</label>

						<button>Confirm</button>
					</form>
				</div>
			</div>
		{{end}}
	