
		{{define "title"}}{{.Alert.Title}} - add message{{end}}
		{{define "body"}}
			<div class="create-service-container">
				<div class="admin-nav-header">
					<div>
						<a href="/admin/alerts/{{.Alert.ID}}" hx-boost="true">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
							</svg>
						</a>
						{{if not .Alert.EndedAt }}
							{{if eq .Alert.AlertType "incident"}}
								<div class="live">LIVE</div>
							{{else}}
								<div class="active">ACTIVE</div>
							{{end}}
						{{end}}
						<h2>{{.Alert.Title}}</h2>
					</div>
				</div>

				<form hx-post hx-swap="none">
					<label>
						Message
						<textarea name="message" required>{{.Message.Content}}</textarea>
					</label>

					<div>
						<button type="submit">Republish</button>
					</div>
				</form>
			</div>
		{{end}}
	